@model AtivosVIDI.Models.Ativos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ativos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colaboradores.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colaboradores.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPatrimonio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPatrimonio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
