@model AtivosVIDI.Models.SoftwaresComputadores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SoftwaresComputadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Computadores.ServiceTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computadores.ServiceTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Softwares.NomeSoftware)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Softwares.NomeSoftware)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
